= render 'general/flash', locals: {flash: flash}
%h1 System Settings
= form_for(@system_setting, url: { action: 'update'}, method: :post) do |form|
  - if @system_setting.errors.any?
    #error_explanation
      .alert.alert-danger{:role => "alert"}
        = pluralize(@system_setting.errors.count, "error")
        prohibited this chat from being saved.
  .form-group.row
    %label.col-sm-2.col-form-label{:for => "chatsCountForUser"} Chats count for user
    .col-sm-10
      = form.text_field :chats_count_for_user, {class: "form-control", id: "chatsCountForUser" }
      - if @system_setting.errors.messages[:chats_count_for_user].present?
        .badge.badge-danger
          = @system_setting.errors.messages[:chats_count_for_user].join('; ')
  .form-group.row
    %label.col-sm-2.col-form-label{:for => "usersCountForChat"} Users count for chat
    .col-sm-10
      = form.text_field :users_count_for_chat, {class: "form-control", id: "usersCountForChat" }
      - if @system_setting.errors.messages[:users_count_for_chat].present?
        .badge.badge-danger
          = @system_setting.errors.messages[:users_count_for_chat].join('; ')
  .form-group.row
    .col-sm-10
      = form.submit 'Apply', class: "btn btn-primary"
