- flash.each do |name, msg|
  %div{:class => "alert alert-#{alert_class(name)} alert-dismissible fade show", :role => "alert"}
    = msg
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×
