= form_for(@user, url: { action: 'update'}, method: :post) do |form|
  - if @user.errors.any?
    #error_explanation
      .alert.alert-danger{:role => "alert"}
        = pluralize(@user.errors.count, "error")
        prohibited this profile from being saved.
  .form-group.row
    %label.col-sm-2.col-form-label{:for => "userNickname"} Nickname
    .col-sm-10
      = form.text_field :nickname, {class: "form-control", id: "userNickname" }
      - if @user.errors.messages[:nickname].present?
        .badge.badge-danger
          = @user.errors.messages[:nickname].join('; ')
  .form-group.row
    %label.col-sm-2.col-form-label{:for => "userBirthday"} Birthday
    .col-sm-10
      = form.date_field :birthday, {class: "form-control", id: "userBirthday" }
      - if @user.errors.messages[:birthday].present?
        .badge.badge-danger
          = @user.errors.messages[:birthday].join('; ')
  .form-group.form-check.row
    = form.check_box(:no_invitation, class: 'form-check-input')
    = form.label(:no_invitation, "Do not get invitation", class: 'form-check-label')
  .form-group.row
    .col-sm-10
      = form.submit class: "btn btn-primary"
