= form_for(@user, url: { action: 'apply_managing'}, method: :post) do |form|
  - if @user.errors.any?
    #error_explanation
      .alert.alert-danger{:role => "alert"}
        = pluralize(@user.errors.count, "error")
        prohibited this chat from being saved.
  %ul.list-group
    %li.list-group-item
      Nickname: #{@user.nickname}
    %li.list-group-item
      Email: #{@user.email}
  .form-group.row
    %label.col-sm-2.col-form-label{:for => "userRole"} Role
    .col-sm-10
      = form.select(:role, options_for_select(User.roles.to_a, current_user.role), {}, {class: "form-control", id: "userRole"})
  .form-group.row
    %label.col-sm-2.col-form-label{:for => "userMaxChats"} Quantity of allowed chats
    .col-sm-10
      = form.number_field :max_chats,                                                            |
        {class: "form-control", id: "userMaxChats", data: {toggle: "tooltip", placement: "top"}, |
         title:"Set 0 if you want to apply system setting for current user"                      |
        }                                                                                        |
      - if @user.errors.messages[:max_chats].present?
        .badge.badge-danger
          = @user.errors.messages[:max_chats].join('; ')
  .form-group.row
    .col-sm-10
      = form.submit class: "btn btn-primary"
