%h1 My Profile
= render 'form'
%br/
%hr/
.row.h-100.justify-content-center.align-items-center
  = link_to 'Delete my account', delete_user_path(current_user), { method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" }
%hr/
%br/
= link_to 'Back', root_path
