= render 'general/flash', locals: {flash: flash}
%h1 List of Users
= form_for :search, url: users_path, method: :get do |form|
  = form.text_field :q
  = form.submit 'Search'
%br/
%table.table
  %thead.thead-light
    %tr
      %th{:scope => "col"} ID
      %th{:scope => "col"} Nickname
      %th{:scope => "col"} Email
      %th{:scope => "col"} Role
      - if current_user.role == "moderator"
        %th{:scope => "col"} Actions
  %tbody
    - @users.each do |user|
      - founded = @founded_users_ids.include?(user.id) if @founded_users_ids.present?
      %tr{:class => "#{user_row_class(founded)}"}
        %th= user.id
        %td= user.nickname
        %td= user.email
        %td= user.role
        - if current_user.role == "moderator"
          %td
            = link_to 'Manage', user_managing_path(user)
