= form_for(@blocked_user, url: { action: 'add_user'}, method: :post) do |form|
  .form-group
    %label{:for => "selectUsers"} Select users to Black List
    = form.collection_select(:blocked_user_id, @users, :id, :email, {prompt: 'Select user...'}, {class: "form-control", id: "selectUsers"})
    = form.submit 'Add User', class: "btn btn-primary"
