= render 'general/flash', locals: {flash: flash}
%h1 Black List
%table.table.table-striped
  %thead
    %tr
      %th{:scope => "col"} ID
      %th{:scope => "col"} Nickname
      %th{:scope => "col"} Email
      %th{:scope => "col"} Actions
  %tbody
    - @blocked_users.each do |blocked_user|
      - user = User.find(blocked_user.blocked_user_id)
      %tr
        %th= user.id
        %td= user.nickname
        %td= user.email
        %td
          = link_to 'Remove', delete_blocked_user_path(blocked_user), { method: :delete, data: { confirm: 'Are you sure?' } }
%br/
%a.btn.btn-primary.btn-lg.active{"aria-pressed" => "true", :href => new_blocked_user_path, :role => "button"} Add User
