= form_with(model: chat, local: true) do |form|
  - if chat.errors.any?
    #error_explanation
      .alert.alert-danger{:role => "alert"}
        = pluralize(chat.errors.count, "error")
        prohibited this chat from being saved.
  .form-group.row
    %label.col-sm-2.col-form-label{:for => "chatName"} Name
    .col-sm-10
      = form.text_field :name, {class: "form-control", id: "chatName" }
      - if chat.errors.messages[:name].present?
        .badge.badge-danger
          = chat.errors.messages[:name].join('; ')
  = form.fields_for :users_chats do |users_chats_form|
    = render 'users_chat_fields', f: users_chats_form
    .links
      = link_to_add_association 'add', form, :users_chats
  .form-group.row
    .col-sm-10
      = form.submit class: "btn btn-primary"
