= form_for(@chat, url: { action: 'apply_managing'}, method: :post) do |form|
  - if @chat.errors.any?
    #error_explanation
      .alert.alert-danger{:role => "alert"}
        = pluralize(@chat.errors.count, "error")
        prohibited this chat from being saved.
  %ul.list-group
    %li.list-group-item
      Name: #{@chat.name}
    %li.list-group-item
      Owner: #{@chat.owner.email}
  .form-group.row
    %label.col-sm-2.col-form-label{:for => "userMaxUsers"} Quantity of allowed users
    .col-sm-10
      = form.number_field :max_users,                                                            |
        {class: "form-control", id: "userMaxUsers", data: {toggle: "tooltip", placement: "top"}, |
         title:"Set 0 if you want to apply system setting for current chat"                      |
        }                                                                                        |
      - if @chat.errors.messages[:max_users].present?
        .badge.badge-danger
          = @chat.errors.messages[:max_users].join('; ')
  .form-group.row
    .col-sm-10
      = form.submit class: "btn btn-primary"
