var msg = '<%= j @alert || '' %>'
if ($.trim(msg).length === 0) {
  $("#chat_messages")
    .append("<li class=\"list-group-item d-flex justify-content-between align-items-center\"><%= j @message.message %> <%= j message_owner(@message.user) %></li>");
} else {
  alert("You can't send empty message");
}
$("#message_message").val('');
