= render 'general/flash', locals: {flash: flash}
%h1 Chats
= form_for :search, url: chats_search_path, method: :get do |form|
  = form.text_field :q
  = form.submit 'Search'
%table.table.table-striped
  %thead
    %tr
      %th{:scope => "col"} ID
      %th{:scope => "col"} Name
      %th{:scope => "col"} Owner
      %th{:scope => "col"} Actions
  %tbody
    - @chats.each do |chat|
      %tr
        %th= chat.id
        %td= chat.name
        %td
          - if chat.owner_id == current_user.id
            me
          - else
            = User.find(chat.owner_id).email
        %td
          = link_to 'Show', chat
          - if current_user.id == chat.owner_id || current_user.moderator?
            | #{link_to 'Edit', edit_chat_path(chat)}
            | #{link_to 'Destroy', chat, { method: :delete, data: { confirm: 'Are you sure?' } }}
          - if current_user.moderator?
            | #{link_to 'Manage', chat_manging_path(chat)}
%br/
- btn_name = 'New Chat'
- if @allowed_to_create
  %a.btn.btn-primary.btn-lg.active{"aria-pressed" => "true", :href => new_chat_path, :role => "button"}= btn_name
- else
  %button.btn.btn-lg.btn-primary{"data-placement" => "bottom", "data-toggle" => "tooltip", :disabled => "disabled", :title => "#{@msg_not_allowed_to_creat_chat}", :type => "button"}= btn_name
  .alert.alert-light{:role => "alert"}
    = @msg_not_allowed_to_creat_chat
