= render 'general/flash', locals: {flash: flash}
%h1 Search result for all chats
%table.table.table-striped
  %thead
    %tr
      %th.text-center{:scope => "col"} Message
  %tbody
    - @search_result.each do |search|
      %tr
        %th= link_to search.message.truncate(30), chat_path(search.chat_id)
%br/
= link_to 'Back', chats_path, class: 'btn btn-primary'
