<%= render 'general/flash', locals: {flash: flash} %>


<%= form_for :search, url: chat_path(@chat), method: :get do |form| %>
  <%= form.text_field :q %>
  <%= form.submit 'Search' %>
<% end %>


<div class="container">
  <div class="row">
    <p>
      <strong>Name:</strong>
      <%= @chat.name %>
    </p>
  </div>
  <div class="row">



    <div class="col-8">
      <div class="messages" style="height: 600px;">

        <h3>Messages:</h3>
        <ul class="list-group" id="chat_messages" data-chat-id="<%= @chat.id %>">
          <% @messages.each do |msg| %>
            <% founded = @founded_messages_ids.include?(msg.id) if @founded_messages_ids.present? %>
            <li class="<%= message_class(founded) %>">
              <%= msg.message %>
              <%= message_owner(msg.user) %>
            </li>
          <% end %>
        </ul>
      </div>
      <%= form_for :message, url: { action: :add_message }, method: :post, remote: true do |f| %>
        <%= f.text_area :message, class: "form-control", placeholder: "Type a message" %>
        <%= f.submit 'Send message', class: "btn btn-primary" %>
      <% end %>
    </div>






    <div class="col-4">
      Users:
      <% btn_name = 'Add User' %>
      <% if current_user.id == @owner.id %>
        <% if @allowed_to_add_user %>
          <%= link_to btn_name, chat_users_list_path(@chat), class: "btn btn-primary" %>
        <% else %>
          <button type="button" class="btn btn-lg btn-primary" disabled data-toggle="tooltip" data-placement="bottom" title="<%= @msg_not_allowed_to_add_user %>"><%= btn_name %></button>
          <div class="alert alert-light" role="alert">
            <%= @msg_not_allowed_to_add_user %>
          </div>
        <% end %>
      <% end %>
      <ul class="list-group">
        <li href="#" class="list-group-item list-group-item-action active"><%= @owner.email %> (Owner)</li>
        <% @users.each do |user| %>
          <li href="#" class="list-group-item list-group-item-action" id="user_in_chat<%= user.id %>">
            <%= user.email %>
            <% if current_user.id == @owner.id %>
              <%= form_for @chat, url: { action: 'delete_user'}, method: :post, remote: true do |form| %>
                <div class="form-group">
                  <%= hidden_field_tag 'user_id', user.id %>
                  <%= form.submit 'Delete', class: "btn btn-danger" %>
                </div>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% if policy(@chat).update? %>
  <%= link_to 'Edit', edit_chat_path(@chat) %> |
  <%= link_to 'Back', chats_path %>
<% end %>
