= form_for @chat, url: { action: 'add_user'}, method: :post  do |form|
  .form-group
    %label{:for => "selectUsers"} Select users for chat
    %select#selectUsers.form-control{:name => "user_id"}
      - @users.each do |user|
        %option{:value => "#{user.id}"}= user.email
    = form.submit 'Add Users', class: "btn btn-primary"
