%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => "#"} MyChat App
  %button.navbar-toggler{"aria-controls" => "navbarNavAltMarkup", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavAltMarkup", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNavAltMarkup.collapse.navbar-collapse
    .navbar-nav
      - if user_signed_in?
        %a.nav-item.nav-link.active{:href => root_path}
          Home
          %span.sr-only (current)
        %a.nav-item.nav-link{:href => users_path} Users
        %a.nav-item.nav-link{:href => chats_path} Chats
        %a.nav-item.nav-link{:href => black_list_path} Black list
        - if current_user.moderator?
          %a.nav-item.nav-link{:href => system_settings_path} Settings
        = link_to('Profile', profile_path, class: "nav-item nav-link")
        = link_to("Logout #{user_presentation_text(current_user)}", destroy_user_session_path, method: :delete, class: "nav-item nav-link #{user_presentation_class(current_user)}")
      - else
        = link_to('Login', new_user_session_path, class: "nav-item nav-link")
